---
 const personalImageAlt = "Bautista Mendibe"
---

<article class="flex flex-col gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      <strong>Mail ✉️:</strong> bautistamendibe10@gmail.com
    </p>
    <p>
      <a href="https://www.linkedin.com/in/bautista-mendibe-981998134/"
         target="_blank"
         rel="noopener"
         class="text-gray-500"
      >Linkedin</a>
    </p>
  </div>
</article>

