---
import { getCollection } from "astro:content";
const posts = await getCollection("blog");

---

<div class="blog-container grid grid-cols-3 gap-4">
    {posts.map((post) => (
            <article class="flex flex-col bg-white rounded-lg shadow-md overflow-hidden">
                <div class="h-64 w-full">
                    <img class="w-full h-full object-cover" src={post.data.img} alt={post.data.title} />
                </div>
                <div class="p-4 flex flex-col">
                    <h1 class="text-xl font-semibold">{post.data.title}</h1>
                    <a href={`/blog/${post.slug}`} class="mt-2 text-blue-500 hover:underline">Leer más</a>
                </div>
            </article>
    ))}
</div>

