---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "May 2025 - Actualidad",
    title: "Ingeniero de Software",
    company: "Mercado Libre",
    description: `Desarrollo de microservicios para el servicio de imágenes del marketplace.
    Backend en Java y Go; interfaces y experiencia de usuario con React.`,
  },
  {
    date: "Abr 2022 - Feb 2025",
    title: "Desarrollador de Software Fullstack",
    company: "CIDS - Centro de Investigación, Desarrollo de Sistemas de Información",
    description: `Desarrollo de plataformas de Calidad Alimentaria y Caja de Jubilaciones (Node.js, microservicios, PostgreSQL, SCRUM).
    Módulo de becas en Odoo para ACUMAR (Python). CI/CD y despliegues automatizados.`,
  },
  {
    date: "Ene 2021 - Dic 2021",
    title: "Freelance - Mobile Apps Developer",
    company: "AvenApps",
    description:
      "Creación de aplicaciones móviles con Flutter y backend con Firebase.",
  },
]
---

<ol class="relative mt-8 md:mt-12">
  {EXPERIENCE.map((experience) => (
    <li>
      <ExperienceItem {...experience} />
    </li>
  ))}
</ol>
