---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "May 2025 - Actualidad",
    title: "Ingeniero de Software",
    company: "Mercado Libre",
    description: `Desarrollo de microservicios para el servicio de imágenes del marketplace.
    Backend en Java y Go; interfaces y experiencia de usuario con React.`,
  },
  {
    date: "Abr 2022 - Feb 2025",
    title: "Desarrollador de Software Fullstack",
    company: "CIDS - Centro de Investigación, Desarrollo de Sistemas de Información",
    description: `Creación del módulo de becas académicas en Odoo para ACUMAR con Python.
    Desarrollo de la plataforma de Calidad Alimentaria para CIDI (Gobierno de Córdoba) con Node.js, Express y PostgreSQL.
    Implementación de la plataforma de Caja de Jubilaciones (CIDI) con microservicios, bases de datos SQL y metodología SCRUM.
    Automatización de despliegues y optimización del flujo de desarrollo mediante CI/CD.`,
  },
  {
    date: "Ene 2021 - Dic 2021",
    title: "Freelance - Mobile Apps Developer",
    company: "AvenApps",
    description:
      "Creación de aplicaciones móviles con Flutter y backend con Firebase.",
  },
]
---

<ol class="relative mt-8 md:mt-12">
  {EXPERIENCE.map((experience) => (
    <li>
      <ExperienceItem {...experience} />
    </li>
  ))}
</ol>
