---
const { class: className, id } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`section ${className} scroll-mt-[5.5rem] w-full mx-auto container sm:scroll-mt-24 md:max-w-2xl lg:max-w-4xl`}
>
  <slot />
</section>
